
<!doctype html>
<html lang="en">

<head>
  <title>Indian Startup funding And Analysis </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    main{
      
    }
    body{
      background-image: url('http://images.unsplash.com/photo-1565073182887-6bcefbe225b1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
      background-size: cover;
    }
  </style>
</head>

<body>
  <header>
    <INDIAN SATRTUP FUNNDING>
    </header>
    <main>
      <div class="container">
        <div class="row my-5">
          <div class="col">
            <h1 class="text-center">
              <a href="/" class="fs-1 nav-link text-white">Indian Startup Funding And Analysis</a>
            </h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="col-md-4">
            <div class="card text-center">
              <a href="/graphs/1" class="btn">
                <img class="card-img-top" src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/9/97/97125/1-o.jpg?1398660133" alt="Title">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/graphs/1" class="btn">View Graph One</a>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <a href="/graphs/2" class="btn">
                <img class="card-img-top" src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/9/97/97125/1-o.jpg?1398660133" alt="Title">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/graphs/2" class="btn">View Graph Two</a>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <a href="/graphs/3" class="btn">
                <img class="card-img-top" src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/9/97/97125/1-o.jpg?1398660133" alt="Title">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/graphs/3" class="btn">View Graph Three</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
</body>

</html>